/*
* MOBILE RESPONSIVE: width <= 600px
*/
#main-nav {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--main-nav-height);
  padding: 20px 20px;
}

#main-nav h1 a {
  width: max-content;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

#main-nav h1 a svg {
  color: #e96c11;
}

#main-nav button {
  padding: 0;
  border: 0;
  background: none;
  display: none;
}

#main-nav button.show {
  display: inline;
}

#main-nav .main-nav__mobile-bars {
  font-size: 25px;
  color: white;
}

#main-nav .main-nav__links-wrapper {
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: calc(100vh - var(--main-nav-height));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(255 255 255 / 5%);
  backdrop-filter: blur(3px);
  /* transition: all 150ms ease-in; */
}

#main-nav .main-nav__links-wrapper.show {
  right: 0;
}

#main-nav .main-nav__page-links {
  padding: 16px 0 20px;
  width: 100%;
  background-color: #181717;
}

#main-nav .main-nav__page-links li {
  width: 100%;
}

#main-nav .main-nav__page-links li a {
  width: 100%;
  border-bottom: 1px solid #111111;
  background-color: #1f1f1f;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
}

#main-nav .main-nav__ext-links {
  background-color: #1f1f1f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20% 16px;
}

#main-nav .main-nav__ext-links svg {
  font-size: 4rem;
}
