/* ==========================================================================
   Navbar Styles
   ========================================================================== */

/* Mobile-first styles */

#main-nav {
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--main-nav-height);
  padding: 20px;
  background-color: #111111;
  /* outline: 1px solid red; /\* NOTE: remove later *\/ */
}

.main-nav__logo {
  cursor: pointer;
}

.main-nav__menu-toggle {
  display: none;
  padding: 0;
  background: none;
  border: 0;
}

.main-nav__menu-toggle.show {
  display: inline;
}

.main-nav__menu-toggle-icon {
  font-size: 25px;
  color: white;
}
.main-nav__links-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: calc(100vh - var(--main-nav-height));
  background-color: rgb(255 255 255 / 5%);
  backdrop-filter: blur(3px);
}

.main-nav__links-wrapper.show {
  display: flex;
}

.main-nav__page-links {
  width: 100%;
  padding: 16px 0 20px;
  background-color: #181717;
}

.main-nav__page-links > li {
  width: 100%;
}

.main-nav__page-links > li a {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
  font-size: 20px;
  font-weight: 500;
  background-color: #1f1f1f;
  border-bottom: 1px solid #111;
}

.main-nav__ext-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20% 16px;
  background-color: #1f1f1f;
}

.main-nav__icon-link {
  font-size: 4rem;
  color: #ff8b00;
}
