/* ==========================================================================
   Intro Section
   ========================================================================== */

/* Mobile-first styles */

#intro {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  outline: 1px solid blue; /* NOTE: remove later*/
}

.intro__message {
  position: relative;
  top: var(--main-nav-height);
  width: calc(2 * ((100vw - 2 * 16 - (4 - 1) * 16) / 4) + 3 * 16);
  border-radius: 16px;
  background-color: rgb(255 255 255 / 2.5%);
  backdrop-filter: blur(2px);
  text-align: center;
  line-height: 1.5;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: normal;
  padding: 16px;
}

.intro__message > span {
  font-weight: 600;
  color: #ff8000;
}
