main .portfolio-section:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .portfolio-section:first-of-type > h2 {
  position: relative;
  width: 500px;
  padding: 1rem 0.5rem;
  border-radius: 1rem;
  background-color: rgb(255 255 255 / 2.5%);
  backdrop-filter: blur(1px);
  font-size: 2rem;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: normal;
}

main .portfolio-section:first-of-type > h2 > span {
  font-weight: 600;
  /* text-shadow: 2px 2px 2px black; */
  color: orange;
}
