/* TODO: assess the use of this import layer; see alternatives */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* TODO: move styles later */

/* =========================================================================
   Locomotive Scroll
   ========================================================================== */

.c-scrollbar .c-scrollbar_thumb {
  background-color: #ef7a26;
}

/* ==========================================================================
   Loading Screen
   ========================================================================== */

#loading-screen {
  position: absolute;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
}

/* ==========================================================================
   Base
   ========================================================================== */

/* Contains global styles and css-reset type declarations  */

:root {
  box-sizing: border-box;
  font-family: Barlow, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: inherit;
}

body {
  padding: 0;
  margin: 0;
  color: white; /* NOTE: remove later */
  background-color: #111; /* NOTE: remove later */

  --main-nav-height: 69px; /* NOTE: remove later */
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

ol,
ul,
menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}
