/* TODO: assess the use of this import layer; see alternatives */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* TODO: move styles later */

/* =========================================================================
   Locomotive Scroll
   ========================================================================== */

.c-scrollbar .c-scrollbar_thumb {
  background-color: #ef7a26;
}

/* ==========================================================================
   Loading Screen
   ========================================================================== */

#loading-screen {
  position: absolute;
  z-index: 999;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ==========================================================================
   Intro Section
   ========================================================================== */

.portfolio-section {
  margin: 0 auto 0;
  outline: 1px solid red;
  max-width: 1366px;
  min-height: calc(
    100vh - var(--main-nav-height)
  ); /* minus navbar height here */
  color: white;
}

.about-me-card {
  max-width: 1000px;
  display: flex;
  flex-flow: row wrap;
  row-gap: 2rem;
  column-gap: 4%;
}

.about-me-card div:nth-of-type(1) {
  flex-basis: 48%;
}

.about-me-card div:nth-of-type(1) p {
  background-color: rgb(255 255 255 / 5%);
  backdrop-filter: blur(2px);
  font-size: 20px;
  margin-bottom: 1rem;
}

.about-me-card div header {
  margin-bottom: 2rem;
  width: fit-content;
  padding: 1rem;
  background-color: #14110f;
}

.about-me-card div header h2 {
  font-family: 'Montserrat';
  font-size: 24px;
}

.about-me-card div:nth-of-type(2) {
  flex-basis: 48%;
}

.about-me-card div:nth-of-type(3) {
  flex-basis: 100%;
}

.about-me-card div:nth-of-type(3) ul {
  display: flex;
  flex-flow: row wrap;
  column-gap: 1rem;
  row-gap: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  background-color: rgb(255 255 255 / 25%);
  backdrop-filter: blur(6px);
}

.about-me-card div:nth-of-type(3) ul svg {
  width: 5rem;
  height: 5rem;
}

.portfolio-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio-section:nth-of-type(3) > div {
  display: flex;
}

.portfolio-section:nth-of-type(3) img {
  width: 200px;
  height: 200px;
}

.portfolio-section:nth-of-type(3) p {
  color: white;
}

.portfolio-section:nth-of-type(4) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-section:nth-of-type(4) div {
  color: white;
}

/*
  **************************************
*/

:root {
  box-sizing: border-box;
  font-family: Barlow, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: inherit;
}

body {
  padding: 0;
  margin: 0;
  color: white; /* NOTE: remove later */
  background-color: #111111; /* NOTE: remove later */
  --main-nav-height: 69px; /* NOTE: remove later */
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

ol,
ul,
menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}
