/* ==========================================================================
   App Styles
   ========================================================================== */

/** 
 * Global styling
 *
 * Contains global-level styling that applies across the entire application. 
 * Many of the custom properties used in other style files are established here.
 *
 */

@use '_vars' as v;
@import 'fonts';

:root {
  /* Page-wide variables. */
  --page-margin: 16px;
  --page-width: auto;
  --page-gutter: 16px;
  --page-columns: 4;

  $total-page-margin: calc(2 * var(--page-margin));
  $total-page-gutters: calc((var(--page-columns) - 1) * var(--page-gutter));
  $total-page-columns: calc(100vw - $total-page-margin - $total-page-gutters);

  --page-column: calc(#{$total-page-columns} / var(--page-columns));

  /* Root styles */
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-family: v.$font-family-main;
  line-height: 1.5;
}

body {
  background-color: v.$color-main;
}

ul,
ol {
  list-style: none;
}

button {
  background: none;
  border: none;
}

.scroll-wrapper {
  $scrollbar-width: 11px;
  $mask-height: v.$main-nav-height;
  $mask-image-content: linear-gradient(
    to bottom,
    transparent $mask-height,
    v.$color-main calc($mask-height + 8px) calc(100vh - $mask-height)
  );
  $mask-size-content: 100% 100%;

  mask-image: $mask-image-content;
  mask-size: $mask-size-content;
  mask-position: 0 0, 100% 0;
  mask-repeat: no-repeat, no-repeat;
}

.page-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  padding: v.$main-nav-height var(--page-margin) 0;
}

.color-secondary {
  color: v.$color-secondary;
}

/*
   Small Tablet Styles
   ========================================================================== */

@media (min-width: 600px) {
  :root {
    --page-columns: 8;
    --page-margin: 32px;
  }
}

/*
   Intermediate "Tablet-Laptop" Styles 1
   ========================================================================== */

@media (min-width: 900px) {
  :root {
    --page-columns: 12;
    --page-width: 840px;
    --page-margin: auto;
  }

  .page-section {
    padding: v.$main-nav-height 0 0;
  }
}

/*
   Intermediate "Tablet-Laptop" Styles 2
   ========================================================================== */

@media (min-width: 1240px) {
  :root {
    --page-width: auto;
    --page-margin: 200px;
  }

  .page-section {
    padding: v.$main-nav-height var(--page-margin) 0;
  }
}

/*
   Desktop and Larger Screen Styles
   ========================================================================== */

@media (min-width: 1440px) {
  :root {
    --page-width: 1040px;
    --page-gutters: 24px;
    --page-margin: auto;
  }

  .page-section {
    padding: v.$main-nav-height 0 0;
  }
}
