/* ==========================================================================
   App Styles
   ========================================================================== */

/** 
 * Global styling
 *
 * Contains global-level styling that applies across the entire application. 
 * Many of the custom properties used in other style files are established here.
 *
 */

@use '_vars' as v;
@import 'fonts';

:root {
  /* Root styles */
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-family: v.$font-family-main;
  line-height: 1.5;
}

body {
  background-color: v.$color-main;
}

ul,
ol {
  list-style: none;
}

button {
  background: none;
  border: none;
}

.scroll-wrapper {
  $scrollbar-width: 11px;
  $mask-height: v.$main-nav-height;
  $mask-image-content: linear-gradient(
    to bottom,
    transparent $mask-height,
    v.$color-main calc($mask-height + 8px) calc(100vh - $mask-height)
  );
  $mask-size-content: 100% 100%;

  mask-image: $mask-image-content;
  mask-size: $mask-size-content;
  mask-position: 0 0, 100% 0;
  mask-repeat: no-repeat, no-repeat;
}

.color-secondary {
  color: v.$color-secondary;
}
