<!DOCTYPE html>
<html lang="en-CA">
  <head>
    <title>Ethan Schmidt - Web development and Software Engineering</title>
    <meta
      name="description"
      content="I'm a front-end and full-stack software developer based out of Calgary, Alberta; specializing in core web technologies and the MERN stack."
    />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=1"
    />
    <link
      rel="icon"
      href="<%= require('./assets/favicon.ico') %>"
      sizes="any"
    />
    <link
      rel="icon"
      href="<%= require('./assets/favicon.svg') %>"
      type="image/svg+xml"
    />
    <link
      rel="apple-touch-icon"
      href="<%= require('./assets/apple-touch-icon.png') %>"
    />
    <meta name="theme-color" content="#000000" />
  </head>
  <body>
    <noscript>You need to enable JavaScript to use this website.</noscript>
    <div id="root" />
  </body>
</html>
