/* ==========================================================================
   Loading Screen Styles
   ========================================================================== */

/* Contains styling for the site-wide loading screen. */

@use '../../vars' as v;

.loading-screen {
  position: absolute;
  z-index: calc(v.$main-scroll-z-index + 1);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100dvh;
  background-color: v.$color-main;

  &.exit-active {
    opacity: 0;
    transition-timing-function: ease-in;
    transition-property: opacity;
  }
}
